
Options +FollowSymLinks -MultiViews
RewriteEngine On

# Enables https
RewriteCond %{HTTPS} !on
RewriteRule (.*) https://siscopuig.com%{REQUEST_URI} [L,R=301]

# Removes .php extension
RewriteRule ^(.+)\.php$ /$1 [R,L]
RewriteCond %{REQUEST_FILENAME}.php -f
RewriteRule ^(.*?)/?$ /$1.php [NC,END]





