/*
The z-index property specifies the stack order of an element. An element with greater stack order
is always in front of an element with a lower stack order.
Note: z-index only works on positioned elements (position:absolute, position:relative, or position:fixed).
*/


*, *:before, *:after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
}

body {
    font-family: "Droid Sans", sans-serif;
}

a {
    text-decoration: none;
    transition: 2s;
}

/* Header */
@media (min-width: 1200px) {
    .header-container {
        display: flex;
        align-items: center;
        height: 100px;
    }
}
.header-logo {
    width: 30px;
    height: 32px;
    min-width: 32px;
    margin-right: 3rem;
    margin-left: 50px;
    display: inline-block;
    text-indent: -9999em;
    transform: scale(1);
    transform-origin: left center;
    filter: brightness(1);
    background: transparent url("../../public/images/logo/logo-black_30x32.svg") no-repeat scroll 0 0;
}
.header-nav {
    list-style-type: none; /* The list-style-type specifies the type of list-item marker in a list. */
    padding: 0;
    font-size: 1.275rem;
}
.header-nav > li {
    display: inline;
    margin-right: 50px;
}
.header-nav a.active {
    color: #000000;
}
/* End of header */

/* Main Background */
.main-background {
    background-color: #a5afaf;
}
.container-fluid {
    width: 100%;
    max-width: 1800px;
    background-color: #a5afaf;
}
/* End Main Background */


/* Poster home */
.linear-gradient {
    width: 100%;
    height: 700px;
    background-image: linear-gradient(to right, rgba(193, 193, 193 ,1), rgba(70, 68, 68, 1));
}

.poster-home-flex-parent {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.poster-home-flex-left {
    flex: 1;
    flex-direction: column;
    padding-left: 15px;
    padding-right: 15px;
}

/*.break-out {*/
    /*width: 100vw;*/
    /*position: relative;*/
    /*left: calc(-1 * (100vw - 100%) / 2);*/
/*}*/

h1 {
    font-size: 36px;    /* fallback */
    font-weight: 500;
    line-height: 1em;
}

.poster-home-header {
    font-size: 36px;
    color: #ffffff;
}

.poster-home-flex-right {
    flex: 1;
}

.laptop {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.poster-home-image picture {
    width: 100%;
    height: 100%;
    object-fit: cover;
    -o-object-fit: cover;
    object-position: 0 50%;
    -o-object-position: 0 50%;
}
/* End Main panel */


/* What I do well */
.widw-container {
    height: 700px;
}

.widw-header {
    height: 100px;
    flex: 0 0 100%;
}

.headline-h2 {
    font-size: 3.25rem;
    font-weight: 500;
}

.widw-flex-parent {
    display: flex;
    flex-wrap: wrap;
    /*align-items: center;*/
    /*justify-content: space-around;*/
}

.widw-flex-child {
    flex: 0 0 25%;
    padding: 20px;
    text-align: center;
}

.vector-code {
    width: 150px;
    height: 130px;
    margin: 0 auto 15px auto;
    transform: scale(1);
    background-image: url("../../public/images/widw/code-150x130.svg");
}
.vector-data {
    width: 150px;
    height: 130px;
    margin: 0 auto 15px auto;
    transform: scale(1);
    background-image: url("../../public/images/widw/database-150x130.svg");
}
.vector-deployment {
    width: 150px;
    height: 130px;
    margin: 0 auto 15px auto;
    transform: scale(1);
    background-image: url("../../public/images/widw/deployment-150x130.svg");
}
.vector-environment {
    width: 150px;
    height: 130px;
    margin: 0 auto 15px auto;
    transform: scale(1);
    background-image: url("../../public/images/widw/environment-150x130.svg");
}
/* End What I do well */



@media (min-width: 1200px) {
    .container-fluid {
        padding-left: 50px;
        padding-right: 50px;
    }
}
@media (min-width: 1200px) {
    .text-1 {
        color: rgba(255,255,255,0.8);
        font-size: 1.625rem;
        max-width: 650px;
    }
}












/* ### impressions ### */
/*.hidden {*/
    /*display: none !important;*/
    /*visibility: hidden;*/
/*}*/
/*.impressions-fader .last .active {*/
    /*-webkit-animation: logoFadeIn 2s ease-in;*/
    /*-moz-animation: logoFadeIn 1s ease-in;*/
    /*-o-animation: logoFadeIn 1s ease-in;*/
    /*animation: logoFadeIn 1s ease-in;*/
/*}*/
/* ### end of impressions ### */
