

/* Header */

.header {
    width: 100%;
    height: 100px;
    position: relative;
    /*padding: 0 15px;*/
    /*z-index: 999;*/
    /*top: 0;*/
    /*left: 0;*/
    /*background: #FFF none repeat scroll 0 0;*/
    /*border: 1px solid #000000;*/
}

.nav-bar{
    padding-left: 100px;
    /*display: block;*/
}

.vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.header-nav {
    list-style-type: none; /* The list-style-type specifies the type of list-item marker in a list. */
    padding: 0;
    margin: 0;
}

.header-nav > li {
    list-style: none;
    float:left;
}

.header-nav > li > a{
    display: block;
    padding: 20px ;
    text-decoration: none;
    font-weight: normal;
    font-size: 14px;
    color: #665c5c;
    letter-spacing: 2px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    /*-webkit-transition: all 0.25s linear;*/
    /*-moz-transition: all 0.25s linear;*/
    /*-o-transition: all 0.25s linear;*/
    /*transition: all 0.25s linear;*/
}

/* End of header */

.linear-gradient {
    width: 100%;
    height: 700px;
    background-image: linear-gradient(to right, rgba(193, 193, 193 ,1), rgba(70, 68, 68, 1));
}

/*@media (min-width: 600px) {*/
    /*.container-fluid {*/
        /*width: 100%;*/
        /*padding-right: 15px;*/
        /*padding-left: 15px;*/
        /*margin-right: auto;*/
        /*margin-left: auto;*/
    /*}*/
/*}*/

/*@media (min-width: 900px) {*/
    /*.container-fluid {*/
        /*width: 100%;*/
        /*padding-right: 15px;*/
        /*padding-left: 15px;*/
        /*margin-right: auto;*/
        /*margin-left: auto;*/
    /*}*/
/*}*/

@media (min-width: 1200px) {
    .container-fluid {
        padding-left: 50px;
        padding-right: 50px;
    }
}

.container-fluid {
    height: 700px;
}


/*.container-fluid {*/
    /*width: 100%;*/
    /*padding-right: 15px;*/
    /*padding-left: 15px;*/
    /*margin-right: auto;*/
    /*margin-left: auto;*/
/*}*/

.break-out {
    width: 100vw; /* Relative to 1% of the width of the viewport */
    left: calc(-1 * (100vw - 100%) / 2);
}

/*.d-flex {*/
    /*display: flex !important;*/
/*}*/

.flex-grow {
    flex: 1;
}

.poster {
    overflow: hidden;
}

.poster-home {
    position: relative;
}

.justify-content-between {
    justify-content: space-between !important;
}

.poster-home-image {
    width: 100%;
    height: 100%;
    right: 0;
    position: absolute;
    top: 0;
    /*background: url(../images/laptop-800x464.png) no-repeat center -10px;*/
    /*border: 1px solid black;*/
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
}

.align-items-center {
    align-items: center !important;
}

.col-12 {
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    position: relative;
}

/* ### h1 ### */

h1 {
    font-weight: 500;
    line-height: 1em;
}

.poster-home h1 {
    font-size: calc(100vw / 30);
}

@media (min-width: 768px) {
    .poster-home h1 {
        color: #FFFFFF;
    }
}

@media (min-width: 1024px) {
    .mb-lg-3 {
        margin-bottom: 60px !important;
    }
}

/* ### End h1 ### */


@media (min-width: 768px) {
    .poster-home .text-1 {
        color: rgba(255,255,255,0.8);
        font-size: 1.625rem;
        max-width: 650px;
    }
}

/* ### Laptop image container ### */

@media (min-width: 768px) {
    .d-md-block {
        display: block !important;
    }
}

/*.d-none {*/
    /*display: none !important;*/
/*}*/

/*@media (min-width: 1024px) {*/
    /*.poster-home-image {*/
        /*left: 50vw;*/
    /*}*/
/*}*/

@media (min-width: 768px) {
    .poster-home-image {
        left: 50vw;

    }
}

.laptop {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.poster-home-image {
    position: absolute;
    right: 0;
    height: 100%;
    top: 0;
}

.poster-home-image picture {
    width: 100%;
    height: 100%;
    object-fit: cover;
    -o-object-fit: cover;
    object-position: 0 50%;
    -o-object-position: 0 50%;
}
