/*
The z-index property specifies the stack order of an element. An element with greater stack order
is always in front of an element with a lower stack order.
Note: z-index only works on positioned elements (position:absolute, position:relative, or position:fixed).
*/

*::before, *::after {
  box-sizing: border-box;
}

html {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}

body {
    margin: 0;
    font-size: 1rem;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #fff;
    font-family: 'Monserrat', sans-serif;
}

h1, h2, h3, h4 {
    margin-top: 0;
    margin-bottom: 0.5rem;
  }
  
p {
margin-top: 0;
margin-bottom: 1rem;
}

a {
    text-decoration: none;
    transition: 2s;
}

.col-12 {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px
}

/* Header */
@media (min-width: 1200px) {
    .header-container {
        display: flex;
        align-items: center;
        height: 100px;
    }
}

.header-logo {
    width: 30px;
    height: 32px;
    min-width: 32px;
    margin-right: 3rem;
    margin-left: 50px;
    display: inline-block;
    text-indent: -9999em;
    transform: scale(1);
    transform-origin: left center;
    filter: brightness(1);
    background: transparent url("../../public/images/logo/logo-black_30x32.svg") no-repeat scroll 0 0;
}
.header-nav {
    list-style-type: none; /* The list-style-type specifies the type of list-item marker in a list. */
    padding: 0;
    font-size: 1.275rem;
}
.header-nav > li {
    display: inline;
    margin-right: 50px;
}
.header-nav a.active {
    color: #000000;
}
/* End of header */

/* Poster home */
.linear-gradient {
    width: 100%;
    /*height: 700px;*/
    background-image: linear-gradient(to right, rgba(193, 193, 193 ,1), rgba(70, 68, 68, 1));
}

.poster-home-flex-parent {
    height: 700px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.poster-home-flex-left {
    flex: 1;
    flex-direction: column;
    padding-left: 15px;
    padding-right: 15px;
}

h1 {
    font-size: 36px;    /* fallback */
    font-weight: 500;
    line-height: 1em;
}

.poster-h1-text {
    font-size: 36px;
    color: #ffffff;
}

.poster-home-flex-right {
    flex: 1;
}

.laptop {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.poster-home-image picture {
    width: 100%;
    height: 100%;
    object-fit: cover;
    -o-object-fit: cover;
    object-position: 0 50%;
    -o-object-position: 0 50%;
}
/* End Main panel */


/* What I do well */

.headline-h2 {
    font-size: 3.25rem;
    font-weight: 500;
}

.tx-al-ce {
    text-align: center;
}

.widw-flex-child {
    flex: 0 0 25%;
}

.hl-2-text {
    text-align: center;
}
.vector-code {
    width: 150px;
    height: 130px;
    margin: 0 auto 15px auto;
    transform: scale(1);
    background-image: url("../../public/images/widw/code-150x130.svg");
}
.vector-data {
    width: 150px;
    height: 130px;
    margin: 0 auto 15px auto;
    transform: scale(1);
    background-image: url("../../public/images/widw/database-150x130.svg");
}
.vector-deployment {
    width: 150px;
    height: 130px;
    margin: 0 auto 15px auto;
    transform: scale(1);
    background-image: url("../../public/images/widw/deployment-150x130.svg");
}
.vector-environment {
    width: 150px;
    height: 130px;
    margin: 0 auto 15px auto;
    transform: scale(1);
    background-image: url("../../public/images/widw/environment-150x130.svg");
}

.hl-4-text {
    font-size: 1.775rem;
    font-weight: 500;
}


/* End What I do well */

/* Principles */
.principles {
    background-color: #090909;
}

.principles-flex-parent {
    display: flex;
    justify-content: space-between;
}

.principles-col-1 {
    flex: 1;
}

.principles-col-2 {
    flex-basis: 36%;
}

.principles-header {
    margin: 0;
    font-size: 3.25rem;
    font-weight: 500;
    color: white;
}

.hl-3-text {
    color: white;
    padding-left: 15px;
    padding-right: 15px;
}

.mb-lg-0 {
    margin-bottom: 0;
}

.col-lg-3 {
    position: relative;
    padding-left: 15px;
    padding-right: 15px;
}

.mb-lg-4 {
    margin-bottom: 80px !important;
}


@media (min-width: 1200px) {
    .text-1 {
        color: rgba(255,255,255,0.8);
        font-size: 1.625rem;
        max-width: 650px;
    }
}

.text-2 {
    padding: 20px;
    font-size: 1.125rem;
    color: #5D5D5D;
}

/* About me */
.row-column {
    display: flex;
    flex-direction:column;
}
.aboutme{
    text-align: center;
}
.impressions {
    font-size: 35px;
	font-weight: 500;
	opacity: 0;
    color: #080808;
    text-align: center;
}
.present-box p {
    column-count: 2;
	column-gap: 30px;
	margin: 0 auto;
    padding: 20px;
    text-align: justify;
    line-height: 1.6em;
	/* -webkit-column-count: 2;
	-webkit-column-gap: 30px; */
	/* mozilla firefox */
	/* -moz-column-count: 2;
	-moz-column-gap: 30px; */
	/* internet explorer */
}

.talk {
    /* Blue final color #2646FF */
    background-color: #2646FF;
    /* background-color: #ffffff; */
    /* height: 900px; */
}

/* .row-talk {
    background-color: rgb(243, 229, 229);
} */

.flex-wrap{
    display: flex;
    flex-wrap: wrap;
}

.col-0 {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
}

.cta {
    text-align: center;
}

.cta > h2 {
    font-size: 5rem;
    font-weight: 500;
    color: #ffffff;
}

.mb-2 {
    margin-bottom: 40px;
}

.cta > span {
    font-size: 2.125rem;
    font-weight: 500;
    opacity: 1;
    display: block;
    color: #ffffff;
}

.mlr-4 { 
    font-size: 1.625rem;
    font-weight: 500;
    margin: 0 40px;
    display: inline-block;
    color: #000000;
    padding: 10px 0;
}

.mb-4 {
    margin-bottom: 80px;
}

.pb-lg-8 {
    padding-bottom: 120px;
}

/* Footer ############################### */
.clr-black {
    background-color: #000000;
}
.footer {
    justify-content: center;
    align-items: center;
}
.col-1 {
    flex: 0 0 5%;
}
.col-2 {
    flex: 0 0 20%;
    background-color: #7a7a7a75;
    /* max-width: 150px; */
}
.col-4 {
    flex: 0 0 50%;
    background-color: #888d8f71
}
.footer ul {
    list-style: none;
}

.footer li {
    font-size: 1.25rem;
    line-height: 3.5rem;
}

.row {
    display: flex;
    flex-wrap: wrap;
}
.col-4 > span {
    display: inline-block;
}
.title {
    font-size: 26px;
    font-weight: 700;
    line-height: 2.5rem;
    letter-spacing: 4px;
}
.subline {
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 2px;

}

.ml-1 {
    margin-left: 20px;
}
.logo-white {
    width: 35px;
    height: 37px;
    display: inline-block;
    /* text-indent: -9999em; */
    transform: scale(1);
    /* transform-origin: left center; */
    filter: brightness(1);
    background: transparent url("../../public/images/logo/logo-white-35x37.svg") no-repeat scroll 0 0;
}
.clr-white {
    color: #ffffff;
}

/* End Footer */

/* Media queries */
@media (min-width: 1200px) {
    .container-fluid {
        max-width: 1800px;
        padding-left: 50px;
        padding-right: 50px;
    }
    .py-lg-6 {
        padding-top: 120px !important;
        padding-bottom: 120px !important;
    }
    .pt-lg-8 {
        padding-top: 120px !important;
    }
    .mb-lg-5 {
        margin-bottom: 100px !important;
    }
    .py-lg-3 {
        padding-top: 60px !important;
        padding-bottom: 60px !important;
    }
}

.hl2-text {
    font-size: 3.25rem;
    font-weight: 500;
}

.hl3-text {
    font-size: 1.775rem;
    font-weight: 500;
}

.col-flex-1 {
    flex: 1;
}

.center {
    justify-content: center;
    align-items: center;
}

.city-board > span {
    font-size: 1.125rem;
}

.map {
    background: url("../images/contact/map-242x320.png") no-repeat;
	width: 242px;
    height: 320px;
    margin: auto;
}

.city-board {
    top: 10px;
    left: 117px;
	width: 137px;
    height: 58px;
    position: relative;
    background: url("../images/contact/indicator-137x58.png") no-repeat;
}

.pin {
    width: 30px;
    height: 30px;
    border-radius: 50% 50% 50% 0;
    background: #00cae9;
    position: relative;
    transform: rotate(-45deg);
    top: 20px;
    left: 175px;
}

.pin:after {
    content: "";
    width: 14px;
    height: 14px;
    margin: 8px 0 0 8px;
    background: #ffffff;
    position: absolute;
    border-radius: 50%;
  }
  .bounce {
    animation-name: bounce;
    animation-fill-mode: both;
    animation-duration: 1s;
  }
  .pulse {
    background: rgb(255, 255, 255);
    border-radius: 50%;
    height: 14px;
    width: 14px;
    position: relative;
    left: 182px;
    top: 30px;
    transform: rotateX(55deg);
  }
  .pulse:after {
    content: "";
    border-radius: 50%;
    height: 40px;
    width: 40px;
    position: absolute;
    margin: -13px 0 0 -13px;
    animation: pulsate 1s ease-out;
    animation-iteration-count: infinite;
    opacity: 0;
    background: #AEAEAE;
    box-shadow: 0 0 1px 2px #00cae9;
    animation-delay: 1.1s;
  }

  @keyframes pulsate {
    0% {
      transform: scale(0.1, 0.1);
      opacity: 0;
    }
  
    50% {
      opacity: 1;
    }
  
    100% {
      transform: scale(1.2, 1.2);
      opacity: 0;
    }
  }
  
  @keyframes bounce {
    0% {
      opacity: 0;
      transform: translateY(-2000px) rotate(-45deg);
    }
  
    60% {
      opacity: 1;
      transform: translateY(30px) rotate(-45deg);
    }
  
    80% {
      transform: translateY(-10px) rotate(-45deg);
    }
  
    100% {
      transform: translateY(0) rotate(-45deg);
    }
  }


/* .pin-pulse {
    top: 55px;
    left: 115px;
	width: 5px;
    height: 5px;
	border-radius: 50%;
	border: 10px solid rgb(46, 233, 239);
    position: absolute;
    animation-iteration-count: infinite;
	-webkit-animation: MapPulse 1.5s infinite;
	-moz-animation: MapPulse 1.5s infinite;
    -o-animation: MapPulse 1.5s infinite;
    animation: MapPulse 1.5s infinite;    
} */

  

@keyframes MapPulse {
    0% {
        opacity: 0;
        transform: scale(0.1, 0.1);
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: scale(1.2, 1.2)
    }
}

 /* @-webkit-keyframes MapPulse {
    from {
        opacity: .9;
        -webkit-transform: scaleX(0.1) scaleY(0.1);
        transform: scaleX(0.1) scaleY(0.1)
    }
    65% {
        opacity: 0;
        -webkit-transform: scaleX(1) scaleY(1);
        transform: scaleX(1) scaleY(1)
    }
    to {
        opacity: 0;
        -webkit-transform: scaleX(1) scaleY(1);
        transform: scaleX(1) scaleY(1)
    }
}
 @-moz-keyframes MapPulse {
    from {
        opacity: .9;
        -moz-transform: scaleX(0.1) scaleY(0.1);
        transform: scaleX(0.1) scaleY(0.1)
    }

    65% {
        opacity: 0;
        -moz-transform: scaleX(1) scaleY(1);
        transform: scaleX(1) scaleY(1)
    }

    to {
        opacity: 0;
        -moz-transform: scaleX(1) scaleY(1);
        transform: scaleX(1) scaleY(1)
    }
}
@-ms-keyframes MapPulse {
    from {
        opacity: .9;
        -ms-transform: scaleX(0.1) scaleY(0.1);
        transform: scaleX(0.1) scaleY(0.1)
    }

    65% {
        opacity: 0;
        -ms-transform: scaleX(1) scaleY(1);
        transform: scaleX(1) scaleY(1)
    }

    to {
        opacity: 0;
        -ms-transform: scaleX(1) scaleY(1);
        transform: scaleX(1) scaleY(1)
    }
}
@-o-keyframes MapPulse {
    from {
        opacity: .9;
        -o-transform: scaleX(0.1) scaleY(0.1);
        transform: scaleX(0.1) scaleY(0.1)
    }

    65% {
        opacity: 0;
        -o-transform: scaleX(1) scaleY(1);
        transform: scaleX(1) scaleY(1)
    }

    to {
        opacity: 0;
        -o-transform: scaleX(1) scaleY(1);
        transform: scaleX(1) scaleY(1)
    }
} */