

/* Media queries */

 /* for phones */
@media (max-width: 599px) {

    .py-4 {
        padding-top: 4rem;
    }

    .map-box {
        display: none !important;
    }
}

@media (min-width: 600px) {

    .d-none {
        display: none !important;
    }

    .header {
        padding-left: 5%;
        padding-right: 5%;
    }

    .mobile-menu-header {
        height: 80px;
        /* padding-left: 5%;
        padding-right: 5%; */
    }

    .header-logo {
        transform: scale(1);
    }

    .header-nav a {
        font-size: 1rem;
        color: #5D5D5D;
    }

    .sp-parent h2 {
        text-align: left;
    }

    .col-12 {
        display: flex;
        align-items: center;
    }

    .sp-child {
        text-align: left;
    }

    .sp-txt-box h3 {
        text-align: left;
    }

    .sp-img-box {
        transform:scale(0.5);
        transform-origin: top left;
        float: left;
        margin: 0 -70px -60px 0;
    }

    .poster-txt-box h3 {
        text-align: left;
    }

    .poster-txt-box p {
        color: #5D5D5D;
        line-height: 1.4em
    }
}

@media (min-width: 768px) {

    .d-md-none {
        display:none !important
    }

    .d-md-block {
        display: block !important
    }

    .header {
        height: 80px;
    }

    .poster-bg {
        background-image: linear-gradient(to right, rgba(193, 193, 193 ,1), rgba(70, 68, 68, 1));
    }

    .poster-home {
        min-height: 325px;
        max-height: 1100px;
        height: calc(100vh - 1100px);
    }

    .poster-home h1 {
        color: rgb(255, 255, 255);
    }

    .poster-home p {
        color: rgb(255, 255, 255);
    }
}

/* @media (min-width: 800px) {

    .d-md-none {
        display:none !important
    }

    .d-md-block {
        display: block !important
    }

    .header {
        height: 80px;
    }

    .poster-bg {
        background-image: linear-gradient(to right, rgba(193, 193, 193 ,1), rgba(70, 68, 68, 1));
    }

    .poster-home {
        min-height: 480px;
        max-height: 800px;
        height: calc(100vh - 150px);
    }

    .poster-home h1 {
        color: rgb(255, 255, 255);
    }

    .poster-home p {
        color: rgb(255, 255, 255);
    }

} */

